<!DOCTYPE html>
<html lang="en">
<<head>
    <title>智慧社区</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/index.css">
</head>
<body>

<div id="box">
    <!-- 头部标题 -->
    <div class="head">
        <div class="headleft">
            <a href="#"><img src="imgs/tab/选中/首页.png"></a>
            <a href="#"><img src="imgs/tab/选中/动态.png"></a>
            <a href="#"><img src="imgs/tab/选中/监测数据.png"></a>
            <a href="#"><img src="imgs/tab/选中/矢量智能对象.png"></a>
            <a href="#"><img src="imgs/tab/选中/重点人员.png"></a>
            <a href="#"><img src="imgs/tab/选中/预警.png"></a>
            <a href="#"><img src="imgs/tab/选中/二维码.png"></a>
        </div>
        <div class="headright">
            <a href="#" class="showTime"></a>
            <a href="#" class="avatar"><img src="imgs/图层 1552.png"></a>
            <a href="#">张*升（民警)<br>南昌***派出所</a>
        </div>
    </div>
    <!-- 一键搜 -->
    <div class="search">
        <a href=""><img src="imgs/dingwei.png">单位车辆码</a>
        <a href="一键搜.html"><img src="imgs/一键搜.png"><img src="imgs/组 649.png"></a>
        <a href=""><img src="imgs/切换.png"></a>
    </div>
    <!-- 中间主体 -->
    <div class="content">
        <div class="contentleft">
            <div class="contentlefttop">
                <div class="contentlefttopleft">
                    <span><img src="imgs/组 645.png"></span>
                    <div class="contentlefttopleftmid">
                        <p class="danweima">单位码总量</p>
                        <p>673,244</p>
                    </div>
                    <div class="contentlefttopleftright">
                        <p >今日增量</p>
                        <p>33,244</p>
                    </div>
                </div>
                <div class="contentlefttopright">
                    <span><img src="imgs/组 647.png"></span>
                    <div class="contentlefttopleftmid">
                        <p class="danweima">小区/楼宇码总量</p>
                        <p>673,244</p>
                    </div>
                    <div class="contentlefttopleftright">
                        <p>今日增量</p>
                        <p>33.244</p>
                    </div>
                </div>
            </div>
            <div class="contentleftbuttom" id="main">
                <div id="box2" style="color: red">
                    sdfdsf
                </div>
            </div>
        </div>
        <div class="contentright">
            <div class="contentrighttop">
                <span><img src="imgs/组 647.png"></span>
                <div class="contentlefttopleftmid">
                    <p class="danweima">单位码总量</p>
                    <p>673244</p>
                </div>
                <div class="contentlefttopleftright">
                    <p>今日增量</p>
                    <p>33244</p>
                </div>
            </div>
            <div class="contentrightbuttom" id="main2">

            </div>
        </div>
    </div>
    <!-- 底部 -->
    <div class="foot" id="main1"></div>
</div>
</body>
<script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="js/echarts.min.js"></script>
<script src="js/time.js"></script>
<script src="js/index2.js"></script>
</html>


